@import 'tailwindcss';
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

.custom-swiper .swiper-pagination-bullet {
  @apply bg-gray-900;
}

.custom-swiper .swiper-pagination-bullet-active {
  @apply bg-white
}
/* Hide scrollbar for Webkit browsers */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Optional for Firefox */
.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
